# ignore the "wip" and "experimental" work in progress directories
**/wip/
**/experimental

# ignore ide files
.spyproject/

# ignore raw training data (too big for github anyway!)
data/**/

# ignore big files
**/*.mat
*.tgz
*.zip
*.tar

# ignore model checkpoints
**/weights/

# ignore compiled python modules
**/__pycache__/
